.banner{
    background-image: url(image/b_ground2.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   text-align: center;
   font-family: "Poppins", sans-serif;
}
.banner h1 {
  font-size: 30px;
  font-weight: bold;
}

.banner p {
  font-size: 18px;
  letter-spacing: 1px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f6fc;
  margin: 0;
  padding: 0;
}

/* Banner / Header Section */
.banner {
  background-image:url(image/b_ground2.jpeg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 80px 20px;
  margin-bottom: 40px;
}
.banner h1 {
  font-size: 40px;
  margin: 0;
}

.banner p {
  font-size: 18px;
  letter-spacing: 1px;
}

/* Main Container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 100px;
  gap: 40px;
}

/* Left Section */
.left {
  flex: 2;
}

.left h2 {
  border-left: 4px solid #0078ff;
  padding-left: 10px;
  color: #002b5c;
}

.left p {
  color: #333;
  line-height: 1.6;
}
.notice {
  background-color: #172027;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}



.notice h4 {
  color: whitesmoke;
  margin-bottom: 10px;
}
.notice a{
  text-decoration: none;
}

/* Right Section - Card */
.card {
  background-color: #172027;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  width: 280px;
  height: 150px;
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin:0 auto 15px auto;
  background-position: center;
  
  object-fit: cover;
  display: block;
  border: 3px solid #fff; /* Optional: white border around image */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); 
}

.card h3 {
  color:whitesmoke;
  margin-bottom: 5px;
}

.card p {
  color: whitesmoke;
  font-size: 14px;
}


/* Social Icons */

    
.icon-row {
  display: flex;                
  justify-content: center;      
  align-items: center;      
  gap: 20px;                   
  margin-top: 20px;
           
}



.icon {
  width: 50px;               
  height: 50px;                 
  border-radius: 50%;          
  object-fit: cover;            
  transition: transform 0.3s; 
  padding-top: 30px;                  
}

.icon:hover {
  transform: scale(1.1);        
  cursor: pointer;             
}

footer{
    background-color:#040c14 ;
    color: whitesmoke;
    padding: 30px 0 0 20px;
    font-family: Arial, , sans-serif;
    
}
.underline-text{
    text-decoration: underline;
    text-decoration-color: rgb(97, 17, 17);
    text-decoration-thickness: 3px;
    font-size: 20px;
    
}
.footer-container{
    display: flex;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


footer p{
    font-size: 10px;
}
.footer-section a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
}

.footer-section a:hover {
  color: #ff9900;
}
.footer-left, .footer-center, .footer-right {
  width: 30%;
  text-align: left;
}
.footer-right {
  text-align: right;
}
.footer-center {
  text-align: center;
}# job5
