h2{
    text-align: center;
    color: blueviolet;
    border: 7px solid black;
    margin: 0 30%;
}
form{
    margin: 0 30%;
}
body{
    background-color: black;
}
label{
    color: blueviolet;
    font-style: italic;
}
legend{
    color: blueviolet;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#popup-toggle{
    display: none;
}
.submit-btn{
    display: inline-block;
    background: #4a525a;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}
.submit-btn:hover{
    background: #0056b3;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
}
#popup-toggle:checked ~.popup{
    display: flex;

}
.popup-content{
    background: #fff;
    padding: 25px 30px ;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow:  0 4px 15px rgba(0,0,0,0.3);
}
.no-btn{
    background: #dc3545;
    color: white;
    padding:8px 16px ;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}
.no-btn:hover{
    background: #a71d2a;
}
.yes-btn{
    background: #28a745;
    color:white;
    padding: 8px 16px ;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}
.yes-btn:hover{
    background: #1e7e34;
}
input{
    font-style: italic;
}
