footer{
    background-color:#040c14 ;
    color: whitesmoke;
    padding: 30px 0 0 20px;
    font-family: Arial, , sans-serif;
    
}
.underline-text{
    text-decoration: underline;
    text-decoration-color: rgb(97, 17, 17);
    text-decoration-thickness: 3px;
    font-size: 20px;
    
}
.footer-container{
    display: flex;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
footer p{
    font-size: 10px;
}
.footer-section a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
}
.footer-section a:hover {
  color: #ff9900;
}
.footer-left, .footer-center, .footer-right {
  width: 30%;
  text-align: left;
}
.footer-right {
  text-align: right;
}
.footer-center {
  text-align: center;
}
.container{
  background-color: #172027;
}